@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.all-document {
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  color: white;
}
* {
  font-family: "Inter", sans-serif;
  transition: all 0.2 ease;
}
.header {
  padding: 16px 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.header__language {
  display: flex;
  max-width: 62px;
  width: 100%;
  justify-content: space-between;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  padding-bottom: 5px;
}
.header__language-ru {
  text-decoration: underline;
}
.real-russia {
  width: 100%;
  margin: 0 auto;
}
.real-russia__text {
  max-width: 320px;
  margin: 0 auto;
}
.real-russia__text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding: 0px 19px 5px;
}
.real-russia__tagline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 262px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.real-russia__img {
  margin: 0 auto;
  padding-bottom: 8px;
  width: 100%;
}
.real-russia__img img {
  display: block;
  margin: 0 auto;
}
.real-russia__describe-foto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0px 0px 67px 16px;
}
.vacation-statistick {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px 19px 65px 16px;
}
.vacation-statistick__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  max-width: 207px;
  width: 100%;
}
.vacation-statistick__main-text {
  max-width: 285px;
  width: 100%;
  padding: 35px 0px 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.vacation-statistick__fackts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  max-width: 288px;
  width: 100%;
}
.vacation-statistick__fackts span{
  font-weight: 900;

}
.russian-foto {
  max-width: 320px;
  padding: 0px 16px 118px 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.russian-foto img {
  padding-bottom: 12px;
  max-width: 288px;
}
.attractions {
  max-width: 320px;
  margin: 0 auto;
}
.attractions__link {
  display: none;
}
.attractions__link p {
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}
.attractions__link a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}
.attractions__cards-kursk {
  padding-bottom: 79px;
}
.attractions__cards-kolsk {
  padding-bottom: 53px;
}
.attractions__cards-altay {
  padding-bottom: 53px;
}
.attractions__cards-baykal {
  padding-bottom: 79px;
}
.attractions__cards-karelia {
  padding-bottom: 0px;
}
.attractions__h3 {
  padding: 50px 0px 30px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
}
.attractions__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 28px 16px 0px;
}
.attractions__text-p1 {
  padding-bottom: 25px;
}
.banner {
  max-width: 320px;
  margin: 0 auto;
}
.banner__container {
  padding: 17px 23px 33px 22px;
  background-image: url(../img/__overlay.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__container h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  max-width: 225px;
  padding-bottom: 16px;
}
.banner__container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  max-width: 270px;
}
.footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 64px 0px 24px 16px;
}
.footer-menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 13px;
}
.footer-menu__link {
  padding-bottom: 32px;
}
.footer-autograph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
a {
  color: white;
  cursor: pointer;
}
a:hover{
  color: #71d284;
  transition: all 0.2 ease;

}
@media (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 28px 24px 55px 24px;
  }
  .attractions__link {
    display: block;
    color: #aaaaaa;
  }
  .header__logo-img {
    height: 52px;
    width: 176px;
  }
  .header__language-ru{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
  }
  .header__language-eng {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }
  .real-russia {
    max-width: 768px;
  }
  .real-russia__text {
    max-width: 768px;
  }
  .real-russia__text h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    padding: 0px 19px 26px;
  }
  .real-russia__tagline {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 491px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 56px;
  }
  .real-russia__img img {
    width: 100%;
    height: 480px;
  }
  .real-russia__describe-foto {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0px 0px 90px 23px;
  }
  .vacation-statistick {
    max-width: 768px;
    padding: 0px 24px 88px 24px;
  }
  .vacation-statistick__header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 676px;
    width: 100%;
  }
  .vacation-statistick__main-text {
    max-width: 717px;
    width: 100%;
    padding: 35px 0px 34px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .russian-foto {
    max-width: 768px;
    padding: 0px 24px 75px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .russian-foto img {
    padding-bottom: 16px;
    max-width: 352px;
    width: 100%;
  }
  .attractions {
    max-width: 768px;
    padding: 0px 24px 0px;
  }
  .attraction__container {
    display: flex;
    justify-content: space-between;
  }

  .attractions__h3-kursk {
    padding: 0px 0px 43px 0px;
    max-width: 475px;
  }
  .attractions__h3-kolsk {
    padding: 0px 0px 42px 0px;
    max-width: 541px;
  }
  .attractions__h3-altay {
    padding: 0px 0px 43px 0px;
    max-width: 452px;
  }
  .attractions__h3-baykal {
    padding: 0px 0px 43px 0px;
    max-width: 582px;
  }
  .attractions__h3-karelia {
    padding: 0px 0px 43px 0px;
    max-width: 533px;
  }

  .attractions__cards-kursk {
    padding-bottom: 76px;
  }
  .attractions__cards-kolsk {
    padding-bottom: 76px;
  }
  .attractions__cards-altay {
    padding-bottom: 76px;
  }
  .attractions__cards-baykal {
    padding-bottom: 75px;
  }
  .attractions__cards-karelia {
    padding-bottom: 0px;
  }

  .attractions__h3 h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    max-width: 328px;
    width: 100%;
  }
  .attractions__text {
    max-width: 352px;
    padding: 0px;
  }
  .attractions__link-kursk {
    padding-top: 45px;
  }
  .attractions__img {
    max-width: 340px;
    width: 100%;
  }
  .attractions__img img {
    width: 100%;
  }
  .banner__container {
    padding: 115px 131px 115px 131px;
    margin-top: 70px;
  }
  .banner__container h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 506px;
    padding-bottom: 26px;
  }
  .header__language {
    max-width: 76px;
  }
  .banner {
    max-width: 100%;
    width: 100%;
  }
  .banner__container p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 356px;
  }
  nav {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
    padding: 88px 24px 24px 24px;
  }
  .footer-menu {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    max-width: 465px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-menu__link {
    padding-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1024px;
    padding: 28px 48px 55px 48px;
  }
  .real-russia {
    max-width: 1024px;
    padding: 0px 48px;
  }
  .real-russia__img img {
    width: 100%;
    height: 580px;
  }
  .real-russia__describe-foto {
    padding: 0px 0px 96px 23px;
  }
  .vacation-statistick {
    max-width: 1024px;
    padding: 0px 48px 88px 48px;
  }

  .russian-foto {
    max-width: 1024px;
    padding: 0px 48px 85px 48px;
  }
  .russian-foto img {
    padding-bottom: 13px;
    max-width: 302px;
    width: 100%;
  }
  .attractions {
    max-width: 1024px;
    padding: 0px 48px 0px;
  }
  .attractions__link{
        display: flex;
    color: #aaaaaa;
    flex-direction: column;
    justify-content: end;
  }

  .attractions__h3-kursk {
    padding: 0px 0px 38px 0px;
    max-width: 578px;
  }
  .attractions__h3-kolsk {
    padding: 0px 0px 42px 0px;
    max-width: 645px;
  }
  .attractions__h3-altay {
    padding: 0px 0px 43px 0px;
    max-width: 556px;
  }
  .attractions__h3-baykal {
    padding: 0px 0px 41px 0px;
    max-width: 686px;
  }
  .attractions__h3-karelia {
    padding: 0px 0px 43px 0px;
    max-width: 638px;
  }

  .attractions__cards-kursk {
    padding-bottom: 88px;
  }
  .attractions__cards-kolsk {
    padding-bottom: 81px;
  }
  .attractions__cards-altay {
    padding-bottom: 86px;
  }
  .attractions__cards-baykal {
    padding-bottom: 86px;
  }
  .attractions__cards-karelia {
    padding-bottom: 0px;
  }

  .attractions__h3 h3 {
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    max-width: 328px;
    width: 100%;
  }
  .attractions__text {
    font-size: 18px;
    font-family: Inter;
    line-height: 30px;
    max-width: 456px;
    padding: 0px;
  }
  .attractions__link-kursk {
    padding-top: 100px;
  }
  .attractions__img {
    max-width: 440px;
    width: 100%;
  }

  
}


@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
    padding: 28px 48px 64px 48px;
  }
  .real-russia {
    max-width: 1280px;
    padding: 0px 148px;
  }
  .real-russia__tagline {
    padding-bottom: 63px;
}
  .real-russia__img img {
    width: 100%;
    height: 615px;
  }
  .real-russia__describe-foto {
    padding: 0px 0px 96px 0px;
  }
  .vacation-statistick {
    max-width: 1280px;
    padding: 0px 48px 88px 148px;
  }

  .russian-foto {
    max-width: 1280px;
    padding: 0px 48px 18px 48px;
  }
  .russian-foto img {
    padding-bottom: 16px;
    max-width: 286px;
    width: 100%;
  }
  .attractions {
    max-width: 1280px;
    padding: 0px 148px 0px;
  }
  .attractions__link{
        display: flex;
    color: #aaaaaa;
    flex-direction: column;
    justify-content:flex-start;
  }

  .attractions__h3 h3 {
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    max-width: 328px;
    width: 100%;
  }
  .attractions__text {
    font-size: 18px;
    font-family: Inter;
    line-height: 30px;
    max-width: 484px;
    padding: 0px;
  }
  .attractions__link-kursk {
    padding-top: 100px;
  }
  .attractions__img {
    max-width: 460px;
    width: 100%;
  }
  .banner__container {
    padding: 278px 131px 271px 131px;
}
.footer{
  max-width: 1280px;
  padding: 67px 48px 11px 40px;
}
}
